

.label {
    -fx-font-size: 12px;
}

#labelScore {
    -fx-font-size: 30px;
    -fx-text-fill: black;
}

.labelIcon {
    -fx-font-size: 18px;
    -fx-text-fill: linear-gradient(to bottom right, white, black);
}

#labelNbCard {
    -fx-font-size: 25px;
    -fx-text-fill: black;

}
#labelNbToken {
    -fx-font-size: 15px;
    -fx-text-fill: black;

}

.firstPlayerSelection {
    -fx-effect: dropshadow( three-pass-box , rgba(250, 0, 0, 0.4) , 10, 0.8 , 0 , 0 );
}


.selectWonder {
    -fx-effect: dropshadow( three-pass-box , rgba(30, 200, 100, 0.4) , 30, 0.8 , 0 , 0 );
}

.selectDeck {
    -fx-effect: dropshadow( three-pass-box , rgba(150, 100, 200, 0.4) , 50, 0.8 , 0 , 0 );
}

.selectCat {
    -fx-effect: dropshadow( three-pass-box , rgba(50, 200, 255, 0.4) , 50, 0.8 , 0 , 0 );
}

.selectWinner {
    -fx-effect: dropshadow( three-pass-box , rgb(10, 240, 10), 30, 0.7 , 0 , 0 );
}

.selectWinnerWonder {
    -fx-effect: dropshadow( three-pass-box , rgb(10, 240, 10), 10, 0.3 , 0 , 0 );
}

.selectPlayerbot {
    -fx-effect: dropshadow( three-pass-box , rgb(50, 200, 255), 5, 0.2 , 0 , 0 );
}