


.slider {
    -fx-font-size: 24px;
    -fx-font: bold 20pt "Rockwell Extra Bold";
}

.slider > .track {
    -fx-background-color: #fff78f;
    -fx-background-insets: 0;
}

.slider > .thumb {
    -fx-shape: "M-1 0 H20 V13 H-1 z";
    -fx-background-color: linear-gradient(to bottom right, rgb(40, 30, 230) 45%, rgb(36, 19, 130));
    -fx-background-insets: 0;
}
