

.label {
    -fx-font-size: 15px;
}


.imgCivIsSelect {
    -fx-effect: dropshadow( three-pass-box , rgba(250, 0, 0, 0.4) , 10, 0.8 , 0 , 0 );
}


.spinner {
    -fx-background-color: #55FF45;
    -fx-faint-focus-color: dropshadow( three-pass-box , rgba(250, 0, 0, 0.4) , 10, 0.8 , 0 , 0 );
}


.spinner > .text-field {
    -fx-background-color: linear-gradient(to bottom right, rgb(500, 255, 28), rgb(8, 255, 0));;
    -fx-font-size: 12pt;
    -fx-text-fill: black;
    -fx-alignment: center;
}

